@media (max-width: 1024px) {
  body .secondo .card {
    height: 380px;
  }
  body .tersio {
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 20px;
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 0 100px;
  }
  body .tersio .work {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  body .tersio .work button {
    margin-top: 20px;
  }
  body .tersio .portfolio {
    padding: 0;
  }
  body .tersio .portfolio .photo {
    width: 100%;
    height: 105%;
  }
  body .tersio .portfolio .photo img {
    width: 100%;
  }
  body .quattro {
    height: 100%;
    padding-bottom: 40px;
  }
  body .uno img {
    height: 70%;
  }
}
@media (max-width: 768px) {
  body .secondo .card {
    width: 100%;
    height: 400px;
    margin: 30px 5px;
  }
  body .tersio {
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 20px;
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 0 100px;
  }
}
@media (max-width: 320px) {
  body header nav {
    height: 20vh;
  }
  body header nav h1 {
    display: none;
  }
  body header ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  body header ul li {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
  }
  body .uno .bgtri {
    display: none;
  }
  body .uno .ithink {
    display: inline;
  }
  body .uno .ithink .para {
    margin: 0 10px;
  }
  body .secondo {
    flex-wrap: wrap;
  }
  body .secondo .card {
    width: 100%;
    height: 300px;
    margin: 10px 0;
  }
  body .tersio {
    margin: 1000px 0;
    padding: 0 30px;
  }
  body .tersio .work {
    display: inline;
    margin: 0;
    padding: 0;
  }
  body .tersio .work .click {
    height: 8vh;
  }
  body .tersio .portfolio {
    grid-template-columns: 1fr;
  }
  body .tersio .portfolio .photo img {
    width: 100%;
    margin-bottom: 10px;
  }
  body .quattro {
    height: 100%;
  }
  body .quattro h1 {
    padding: 10px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

nav {
  background-color: #363B47;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
nav h1 {
  color: #FFFFFF;
  font-weight: 100;
}
nav ul li {
  display: flex;
  align-items: center;
  margin: 5px 5px;
  padding: 4px;
}
nav ul {
  display: flex;
}
nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  margin: auto;
}

.uno {
  background-color: #E8E6E1;
}
.uno img {
  width: 100%;
  height: 400px;
  background-size: cover;
}
.uno .ithink {
  padding: 50px 100px;
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
  height: 100%;
}
.uno .ithink span {
  color: #26A2CC;
}
.uno .ithink .anderson {
  margin-top: 20px;
}

.secondo {
  display: flex;
  background-color: #FFFFFF;
  height: 300px;
  width: 80%;
  margin: auto;
}
.secondo .card {
  text-align: center;
  background-color: #E8E6E1;
  border-radius: 5px;
  width: 350px;
  height: 300px;
  margin: 20px;
}
.secondo .card .fa-solid {
  font-size: 30px;
  color: #5195CD;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  margin-top: 20px;
}
.secondo .card .blue {
  color: #26A2CC;
}
.secondo .card h3 {
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 100;
}
.secondo .card p {
  margin: 20px;
  text-align: justify;
}

.tersio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 400px;
  grid-gap: 80px;
  margin: auto;
}
.tersio .work {
  text-align: left;
  display: grid;
  grid-template-columns: 100%;
  margin-top: 100px;
}
.tersio .work h1 {
  color: #5C5C5C;
}
.tersio .work p {
  color: #5C5C5C;
  margin: 0;
}
.tersio .work .click {
  width: 100px;
  border: none;
  border-radius: 5px;
  height: 3vw;
  background-color: #26A2CC;
  color: #FFFFFF;
}
.tersio .portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: auto;
  padding-top: 80px;
}
.tersio .portfolio .pcard {
  text-align: center;
}
.tersio .portfolio .pcard h1 {
  color: #FFFFFF;
}
.tersio .portfolio .photo {
  background-color: #38485F;
  border-radius: 10px;
  width: 253px;
  height: 280px;
  color: #a1a1a1;
}
.tersio .portfolio .photo img {
  border-radius: 10px;
}

.quattro {
  background-color: #3676BB;
  color: #FFFFFF;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  height: 35vh;
}
.quattro h1 {
  padding: 30px 0;
}
.quattro p {
  padding-bottom: 20px;
}
.quattro i {
  font-size: 25px;
  opacity: 50%;
  margin: 0 10px;
}

footer {
  background-color: #38485F;
  height: 8vh;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
