@media (max-width: 1024px)
    body
        .secondo
            .card
                height: 380px

        .tersio
            grid-template-columns: 1fr
            width: 100%
            grid-gap: 20px
            margin-top: 120px
            margin-bottom: 100px
            padding: 0 100px

            .work
                height: 100%
                padding: 0
                margin: 0
                button
                    margin-top: 20px
            .portfolio
                padding: 0
                .photo
                    width: 100%
                    height: 105%
                    img
                        width: 100%
        .quattro
            height: 100%
            padding-bottom: 40px
        .uno
            img
                height: 70%
@media (max-width: 768px)
    body
        .secondo
            .card
                width: 100%
                height: 400px
                margin: 30px 5px

        .tersio
            grid-template-columns: 1fr
            width: 100%
            grid-gap: 20px
            margin-top: 200px
            margin-bottom: 100px
            padding: 0 100px

@media (max-width: 320px)

    body

        header
            nav
                height: 20vh
                h1
                    display: none
            ul
                flex-wrap: wrap
                justify-content: space-evenly
                li
                    border: 1px solid #FFFFFF
                    border-radius: 5px
        .uno
            .bgtri
                display: none
            .ithink
                display: inline
                .para
                    margin: 0 10px
        .secondo
            flex-wrap: wrap
            .card
                width: 100%
                height: 300px
                margin: 10px 0

        .tersio
            margin: 1000px 0
            padding: 0 30px
            .work
                display: inline
                margin: 0
                padding: 0
                .click
                    height: 8vh
            .portfolio
                grid-template-columns: 1fr
                .photo
                    img
                        width: 100%
                        margin-bottom: 10px

        .quattro
            height: 100%
            h1
                padding: 10px 0
